p{
	margin-right: 150px;
	margin-left:  150px;
}
h2{
	padding-bottom: 20px;
	padding-top: 20px;
    text-align: center;
    }
form{
	padding: 15px;
	margin: 20px;
	background-color: white;

    }
body{
	background : gray;
}   